/*copro della pagina*/
*{box-sizing: border-box;
    margin:0;}
    
/* logo con scritta titolo*/
#logo{height: 95%; 
    vertical-align: middle;
}
#title
{   height: 100px;
    line-height: 100px;
    border-top: solid rgba(225,225,226,255);
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size:30px;
    background-color: rgba(255,255,255,255); 
}/* Tre sfondi*/
body{
    background-color: rgba(255,255,255,255);
    padding-left: 17%;
    padding-right: 17%;;
    
}
#sfondogrigio{
    background-color: rgba(246,248,249,255);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 2%;
}
#sfondo1{ 
    background-color:rgba(255,255,255,255) ;
    border-radius: 1%;
    padding-bottom: 5%;
    padding-top: 2%;
}
/*aggiungi impegni o sezioni*/
#ATAS{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 20px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size:12px;
} 
.add{
    width: 15px;
    height: 15px; 
    padding: 10px;
    border-radius: 10px;
}
/*lista impegni*/
h2{ margin-left: 5%;
    margin-top: 5%;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size:18px;
}
li{
    margin-top: 1%;
    margin-bottom: 2%;  
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size:18px;  
}
.bottoni{
    padding: 3px;
    align-content: center;
    margin-left: 5px;
    border-radius: 10px;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size:12px;
}
/*caselle fatto e non fatto*/
.done{
    width: 25px;
    height: 25px;
    margin-right: 1%;
    border: solid 1px;
    color: green;
    border-color: green;
    border-radius: 50%;
    display: inline-block;
    text-align: center;}
.n-done{
    width: 25px;
    height: 25px;
    margin-right: 1%;
    border: solid 1px;
    color: red;
    border-color: red;
    border-radius: 50%;
    display: inline-block;
    text-align: center;

}
/*colori box e testo*/
.e{background-color: rgba(71,173,241,255);
    border: solid 1px rgba(71,173,241,255)}
.q{background-color: rgba(156,114,228,255);
    border: solid rgba(156,114,228,255) ;}
.r{background-color: rgba(100,192,169,255);
    border: solid rgba(100,192,169,255) ;}
.m{background-color: orange;
    border: solid orange ;}
.w{background-color: rgba(216,99,161,255);
    border: solid rgba(216,99,161,255) ;}
.s{background-color: rgba(176,201,38,255);
    border: solid rgba(176,201,38,255);}
.at{color:rgba(201,207,211,255);
    border: solid 2px rgba(201,207,211,255);}
.ctw{color:rgba(239,248,253,255);}
