*{box-sizing: border-box;
    margin:0;}

#logo{height: 100%; 
    vertical-align: middle;
}
#title
{   height: 100px;
    width:auto;
    line-height: 100px;
    border: solid red;
    background-color: rgba(255,255,255,255); 
}
body{
    height: auto;
    width: auto;
    background-color: rgba(246,248,249,255);
    border: solid blue;
}

#sfondo2{margin-top: 2%;

}
.padding{
    padding: 5px;
}

p{
    display: inline;
    width: 25px;
    height: 25px;
    border-radius: 10%;
    border: solid 1px yellow;
}
span{
    padding: 3px;
    align-content: center;
    margin-left: 2px;
    width: 25px;
    height: 25px;
    border-radius: 35%;
    border: solid 1px yellow;
}
/*colori box*/
.e{background-color: rgba(69,171,234,255);}
.q{background-color: rgba(156,114,228,255);}
.r{background-color: rgba(100,192,169,255);}
.m{background-color: rgba(100,192,169,255);}
.w{background-color: rgba(216,99,161,255);}
.s{background-color: rgba(176,201,38,255);}